<h2 class="text-lg-center col-12">Los signos del zodiaco</h2>
<div class="row">
    <div class="mb-4 mt-4 col-md-4 col-6" style="max-width:200x; max-height: 200px;" *ngFor="let item of signos">
        <div class="row no-gutters">
          <div class="col-md-8 col-6">
            <div class="card-body">
                <h5 class="card-title bg-info text-lg-center">{{item["name"]}}<br/>{{item["start_date"]}} - {{item["end_date"]}}</h5>   
            </div>
          </div>
        </div>
    </div>
</div>
<div class="row">
    <h2 class="col-12 bg-info text-dark">{{arreglo[0].name}} - día</h2>
    <div class="col-9 pr-lg-5">
        <h4 class="text-info">{{arreglo[0].name}}</h4>
        <p class="text-white">
           {{arreglo[1].description}} ...
           La descripcion no puede visualizarse debido a que el valor devuelto por la api se encuentra vacio, aunque en el navegador figure que si se devuelve una descripcion
        </p>
    </div>
</div>