<h2 class="text-lg-center col-12">Los signos del zodiaco</h2>
<div class="row">
    <div class="mb-4 mt-4 col-md-4 col-6" style="max-width:200x; max-height: 200px;" *ngFor="let item of signos">
        <div class="row no-gutters">
          <div class="col-md-4 col-6" style="max-height: 70px; max-width: 70px;">
            <img src="" class="card-img" alt="...">
          </div>
          <div class="col-md-8 col-6">
            <div class="card-body">
              <h5 class="card-title bg-success text-lg-center">{{item}}</h5>
            </div>
          </div>
        </div>
    </div>
    
<div class="containar">
    <div class="row bg-light">
        <h2 class="col-12 bg-success text-white">Libra-día</h2>
        <div class="col-9 pr-lg-5">
            <h4 class="text-info">Libra</h4>
            <p>
              Estarás más encantador que nunca, el ser amado responderá con la misma intensidad. Habrá cambios en lo laboral, para ti será beneficioso, porque te permitirán ascender. Número de suerte, 19.
            </p>
        </div>
        <div class="col-3 ">
            <img src="" style="max-height: 80px; max-width: 80px;">
        </div>
    </div>
    <div class="row bg-light">
        <h2 class="col-12 bg-success text-white">Libra-mes</h2>
        <div class="col-9 pr-lg-5">
            <h4 class="text-info">Libra</h4>
            <p>
              Estarás más encantador que nunca, el ser amado responderá con la misma intensidad. Habrá cambios en lo laboral, para ti será beneficioso, porque te permitirán ascender. Número de suerte, 19.
            </p>
        </div>
        <div class="col-3 ">
            <img src=""style="max-height: 80px; max-width: 80px;">
        </div>
    </div>
</div>