h1{
    color:rgba(10, 6, 24, 0.767);
}
.card{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(10, 6, 24, 0.767);
}

.card-title{
    background-color: red;
    padding-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
    color: white;
    border-radius: 5px;
}

.card-text{
    font-weight: bolder;
    font-size: 1.1rem;
    color: blanchedalmond;
}
.card-img-top{
    margin-top: 5px;
}
.row div{
    padding-left: 10px;
    padding-right: 10px;
}
p{
    hyphens:auto;
    word-wrap:break-word;
}

